@charset "UTF-8";

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

*img {
	opacity: 1;
	transition: opacity 0.3s;
}

*img[data-src] {
	opacity: 0;
}

*source {
    opacity: 1;
	transition: opacity 0.3s;
}

*source[data-src] {
	opacity: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* a {
  text-decoration: none;
  color: #000;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-wrapper {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  border-bottom: 1px solid #ebebeb;
  background-color: #fff;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 110px;
  padding: 0 15px;
}

.header__logo {
  position: relative;
}

.header__logo:after {
  content: "Supplement";
  color: #656973;
  font-family: Lato;
  font-size: 15px;
  line-height: 50px;
  font-weight: 700;
  position: absolute;
  top: 10px;
  right: -90px;
}

.header__adaptive-menu {
  display: none;
}

.header__burger {
  display: none;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav__item {
  margin-right: 20px;
}

.header-nav__link {
  position: relative;
  color: #656973;
  font-family: "Lato";
  font-size: 18px;
  line-height: 22px;
  opacity: 0.9;
}

.header-nav__link:after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #656973;
  position: absolute;
  bottom: -15px;
  left: 0;
  opacity: 0;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.header-nav__link:hover {
  opacity: 1;
}

.header-nav__link:hover:after {
  opacity: 1;
  -webkit-transition: all .35s linear;
  -o-transition: all .35s linear;
  transition: all .35s linear;
}

.tel__number-link {
  position: relative;
  color: #656973;
  font-family: "Lato";
  font-size: 18px;
  line-height: 22px;
  opacity: 0.9;
}

.tel__number-link:after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #656973;
  position: absolute;
  bottom: -15px;
  left: 0;
  opacity: 0;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.tel__number-link:hover {
  opacity: 1;
}

.tel__number-link:hover:after {
  opacity: 1;
  -webkit-transition: all .35s linear;
  -o-transition: all .35s linear;
  transition: all .35s linear;
}

.adaptive-menu {
  position: absolute;
  top: 76px;
  right: 0;
  width: 100%;
  max-width: 300px;
  padding: 0 15px;
  background-color: #fff;
  z-index: 40;
  -webkit-animation: slideLeft .35s ease-out;
          animation: slideLeft .35s ease-out;
}

.adaptive-menu_active {
  display: block;
}

.adaptive-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adaptive-menu__item {
  margin: 15px 0;
}

.adaptive-menu__link {
  color: #656973;
  font-family: "Lato";
  font-size: 24px;
  line-height: 30px;
}

.burger {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.burger__line {
  display: block;
  width: 40px;
  height: 6px;
  background-color: #000;
  border-radius: 5px;
  margin-bottom: 8px;
}

.burger__line:last-child {
  margin-bottom: 0;
}

@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
  }

  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes slideLeft {
  0% {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
  }

  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.main-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
  height: 50px;
  background-color: #18a3dd;
  border-radius: 50px;
  color: #f1f1f1;
  font-family: Lato;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
}

.main-link:hover {
  text-decoration: underline;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(24, 163, 221, 0.5);
          box-shadow: 0px 0px 15px 1px rgba(24, 163, 221, 0.5);
}

.product-info {
  background: #fff url("../img/productInfo/pi-bg.png") right center no-repeat;
  margin-top: 110px;
}

.product-info__body {
  padding: 150px 15px 35px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-info__column1-info {
  -ms-flex-item-align: center;
      align-self: center;
  min-width: 450px;
}

.product-info__title {
  position: relative;
  display: inline-block;
  padding: 0 0 15px 35px;
  color: #333740;
  font-family: "Raleway";
  font-size: 72px;
  line-height: 75px;
  text-transform: uppercase;
}

.product-info__title:before {
  content: "";
  display: block;
  width: 5px;
  height: 100%;
  background-color: #18a3dd;
  position: absolute;
  top: 0;
  left: 0;
}

.product-info__subtitle {
  padding-left: 35px;
  color: #333740;
  font-family: "Raleway";
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.6px;
  margin-bottom: 70px;
}

.product-info__text {
  color: #666666;
  font-family: Lato;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-bottom: 45px;
}

.product-info__link_video {
  position: relative;
  margin-left: 25px;
  color: #333740;
  font-family: Lato;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}

.product-info__link_video:hover {
  text-decoration: underline;
}

.product-info__link_video:hover:after {
  -webkit-transform: translateX(4px);
      -ms-transform: translateX(4px);
          transform: translateX(4px);
}

.product-info__link_video:after {
  content: url(../img/productInfo/play.svg);
  position: absolute;
  top: -2px;
  right: -25px;
  -webkit-transition: all .15s linear;
  -o-transition: all .15s linear;
  transition: all .15s linear;
}

.product-info__column2-img img {
  min-width: 649px;
}

.structure {
  background-color: #000000;
  margin: 160px 0 110px 0;
}

.structure__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-height: 350px;
  padding: 0 20px;
}

.structure__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 50px;
  height: 100%;
}

.structure__title {
  position: relative;
  display: inline-block;
  color: #ffffff;
  font-family: "Lato";
  font-size: 72px;
  line-height: 75px;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  margin-bottom: 15px;
  padding-left: 25px;
}

.structure__title:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: #18a3dd;
  border-radius: 5px;
}

.structure__subtitle {
  color: #18a3dd;
  font-family: "Lato";
  letter-spacing: 0.4px;
  line-height: 22px;
  text-transform: uppercase;
}

.structure__text {
  color: #a9a9a9;
  letter-spacing: 0.4px;
  line-height: 24px;
}

.structure-column-img img {
  width: 100%;
  max-width: 404px;
  height: auto;
  min-width: 404px;
}

.structure-column__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.structure-column__info .structure__column {
  margin-bottom: 20px;
}

.fetures {
  margin: 50px 0;
}

.fetures__title-box {
  margin-bottom: 50px;
}

.fetures__body {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fetures__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 45px;
}

.fetures__row {
  margin-bottom: 70px;
}

.fetures__row:last-child {
  margin-bottom: 0;
}

.fetures__row-title-box {
  position: relative;
  margin-bottom: 40px;
}

.fetures__row-title-box:after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  width: 4px;
  height: 30px;
  background-color: #18a3dd;
}

.fetures__row-title {
  text-align: center;
  color: #333740;
  font-family: Lato;
  line-height: 24px;
  font-size: 20px;
}

.fetures__row-text {
  color: #5b5f64;
  font-family: Lato;
  font-size: 16px;
  letter-spacing: 0.4px;
}

.main-title {
  text-align: center;
}

.main-title__title {
  margin-bottom: 15px;
}

.main-title__left-title {
  color: #333740;
  font-family: "Raleway";
  font-size: 30px;
  line-height: 34px;
  text-transform: uppercase;
}

.main-title__line {
  display: inline-block;
  width: 2px;
  height: 45px;
  background-color: #18a3dd;
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
  margin: 0 10px;
}

.main-title__right-title {
  color: #333740;
  font-family: "Raleway";
  line-height: 34px;
  font-size: 30px;
  letter-spacing: 0.75px;
}

.main-title__text {
  color: #83888f;
  font-family: Lato;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.results__title-box {
  margin: 30px 0 80px 0;
  padding: 0 20px;
}

.results__slider {
  padding: 0 20px;
  padding-bottom: 50px;
}

.slider01 {
  position: relative;
}

.slider01__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider01__img-box {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
}

.slider01__img-box picture:first-child {
  z-index: 2;
}

.slider01 .slider01__img-1 {
  margin-right: -70px;
  z-index: 2;
  width: 100%;
}

.slider01 .slider01__img-2 {
  width: 100%;
}

.slider01__text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slider01__weight-box {
  margin-bottom: 90px;
  color: #333740;
  font-family: Lato;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
}

.slider01__weight-before {
  position: relative;
  margin-right: 30px;
}

.slider01__weight-before:after {
  content: "Before";
  color: #18a3dd;
  font-family: Lato;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  position: absolute;
  bottom: -30px;
  left: 0;
}

.slider01__weight-after {
  position: relative;
}

.slider01__weight-after:after {
  content: "After";
  color: #18a3dd;
  font-family: Lato;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  position: absolute;
  bottom: -30px;
  left: 0;
}

.slider01__age-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding-left: 35px;
}

.slider01__age-box:before {
  content: "";
  position: absolute;
  left: 0;
  width: 6px;
  height: 100%;
  background-color: #18a3dd;
}

.slider01__name {
  color: #333740;
  font-family: Raleway;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 20px;
  margin-bottom: 20px;
}

.slider01__age {
  line-height: 20px;
  color: #333740;
  font-family: Raleway;
  font-size: 16px;
  text-transform: uppercase;
}

/* Слайдер */

.slick-slider {
  min-width: 0;
}

/* Слайдер запущен */

/* Слайдер с точками */

/* Ограничивающая оболочка */

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд */

.slick-slide {
  min-width: 0;
}

/* Слайд активный (показывается) */

/* Слайд основной */

/* Слайд по центру */

/* Клонированный слайд */

/* Стрелка */

.slick-arrow {
  position: absolute;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  border: 3px solid #c6cfd2;
  outline: none;
  font-size: 0;
  z-index: 10;
  cursor: pointer;
}

/* Стрелка влево */

.slick-arrow.slick-prev {
  left: 50px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slick-arrow.slick-prev:before {
  content: url("../img/results/arrow-left.png");
}

/* Стрелка вправо */

.slick-arrow.slick-next {
  right: 50px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slick-arrow.slick-next:before {
  content: url("../img/results/arrow-right.png");
}

/* Стрелка не активная */

/* Точки (булиты) */

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Активная точка */

.slick-dots li.slick-active button {
  background-color: #18a3dd;
}

/* Элемент точки */

.slick-dots li button {
  width: 13px;
  height: 13px;
  background-color: #d8e4e8;
  border-radius: 50%;
  outline: none;
  border: none;
  font-size: 0;
  margin: 0 10px;
  cursor: pointer;
}

.clients {
  padding-bottom: 40px;
  background-color: rgba(15, 8, 22, 0.9);
}

.clients__title-box {
  padding: 50px 0;
}

.main-title_light > h1 > span,
.main-title_light p {
  color: #e5e5e5 !important;
}

.slider02__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

.slider02__text-box {
  text-align: center;
  padding: 40px 0 40px 0;
}

.slider02__text {
  width: 100%;
  max-width: 735px;
  color: #a9a9a9;
  font-family: "Lato";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.slider02__klient-info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider02__klient-avatar {
  margin-right: 30px;
}

.slider02__name {
  padding-bottom: 10px;
  color: #e5e5e5;
  font-family: Raleway;
  font-size: 16px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  line-height: 18px;
}

.slider02__lacation {
  color: #a9a9a9;
  font-family: Lato;
  font-size: 14px;
  line-height: 16px;
}

.slider02__lacation:after {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  background-color: #18a3dd;
  border-radius: 5px;
  margin-top: 10px;
}

.facts {
  background-color: #fafcfc;
}

.facts__tab-title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  border-bottom: 5px solid #333740;
  margin-bottom: 15px;
}

.facts__tab-title {
  color: #333740;
  font-family: "Lato";
  font-size: 24px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

.facts__tab-serving {
  color: #333740;
  font-family: "Lato";
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}

.facts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 70px 15px;
}

.facts__tab-box {
  width: 100%;
  max-width: 470px;
  margin-right: 120px;
}

.facts__tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 5px;
  color: #333740;
  font-family: Lato;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  border-bottom: 1px solid #ebebeb;
  cursor: pointer;
}

.facts__tab:hover {
  -webkit-transform: scale3d(1.2, 1.2, 1.2);
          transform: scale3d(1.2, 1.2, 1.2);
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.24);
          box-shadow: 0 3px 9px rgba(0, 0, 0, 0.24);
  border: 1px solid #d7d7d7;
  background-color: #ffffff;
  font-size: 18px;
}

.facts__tabContent-box {
  width: 100%;
  max-width: 365px;
}

.facts__tabContent_hide {
  display: none;
}

.facts__tabContent_show {
  display: block;
}

.facts__tabContent-info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 40px 0;
  padding-left: 20px;
  position: relative;
}

.facts__tabContent-info-box:before {
  content: "";
  display: block;
  width: 6px;
  height: 40px;
  background-color: #18a3dd;
  position: absolute;
  top: 0;
  left: 0;
}

.facts__tabContent-name {
  color: #000;
  font-size: 16px;
  line-height: 20px;
  font-family: Raleway;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.facts__tabContent-weight {
  line-height: 18px;
  font-size: 14px;
  color: #333740;
  font-family: "Lato";
  letter-spacing: 0.4px;
}

.facts__tabContent-text {
  line-height: 18px;
  font-size: 14px;
  color: #404040;
  font-family: "Lato";
  letter-spacing: 0.4px;
}

#tabs .facts__tabContent_hide {
  display: none;
}

#tabs .facts__tabContent_show {
  display: block;
}

.certifications {
  background-color: #f1f4f5;
}

.certifications__logo-container {
  padding: 30px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.certifications__logo-img-box {
  overflow: hidden;
  width: 200px;
  height: 100px;
  margin: 0 20px 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

.certifications__logo-img-box:last-child {
  margin-right: 0px;
}

.facts__title-box {
  padding: 50px 10px 30px 10px;
}

.product-info_reverse {
  background: #fff url("../img/productInfo/pi-bg.png") left center no-repeat;
}

.product-info__body_reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.product-info__column2-img {
  margin-right: 35px;
}

.subscribe {
  background-color: #050505;
}

.subscribe__title-box {
  text-align: center;
  padding: 30px 15px;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 65px 15px;
  text-align: center;
}

.subscribe__input {
  width: 100%;
  max-width: 405px;
  height: 50px;
  background-color: #ffffff;
  border: none;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 5px 15px 5px 25px;
  outline: none;
  color: #000;
  font-family: Lato;
  font-size: 18px;
  line-height: 50px;
  letter-spacing: 0.4px;
  z-index: 10;
}

.subscribe__button {
  width: 100%;
  max-width: 165px;
  height: 50px;
  background-color: #18a3dd;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: none;
  -webkit-transform: translate(-10px, 0px);
      -ms-transform: translate(-10px, 0px);
          transform: translate(-10px, 0px);
  cursor: pointer;
  color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}

.subscribe__button:hover {
  text-decoration: underline;
}

.feedback__title-box {
  padding: 40px 15px;
  text-align: center;
}

.feedback__form {
  padding: 50px 15px;
}

.feedback-form {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 560px;
}

.feedback-form__input {
  border: none;
  border-bottom: 1px solid #ccc;
  height: 45px;
  margin: 10px 0;
  padding: 10px;
  color: #000;
  font-family: Lato;
  font-size: 18px;
  line-height: 50px;
  letter-spacing: 0.4px;
}

.feedback-form__name {
  width: 49.6%;
}

.feedback-form__email {
  width: 49.6%;
}

.feedback-form__subject {
  width: 100%;
}

.feedback-form__textarea {
  width: 100%;
  height: 110px;
  resize: none;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 35px;
}

.feedback-form__message {
  color: #000;
  font-family: Lato;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.4px;
}

.feedback-form__button {
  width: 100%;
  max-width: 226px;
  height: 50px;
  margin: 0 auto;
  background-color: #18a3dd;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  color: #f1f1f1;
  font-family: Lato;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
}

.feedback-form__button:hover {
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
  text-decoration: underline;
  -webkit-box-shadow: 0 0 15px 1px rgba(24, 163, 221, 0.5);
          box-shadow: 0 0 15px 1px rgba(24, 163, 221, 0.5);
}

.footer {
  padding: 30px 15px;
  background-color: #f1f4f5;
}

.footer__copyright {
  color: #666666;
  font-family: Lato;
  font-size: 14px;
  letter-spacing: 0.4px;
  line-height: 22px;
  margin-bottom: 10px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__list-item {
  margin-right: 20px;
}

.footer__list-link {
  color: #666666;
  font-family: Lato;
  font-size: 14px;
  letter-spacing: 0.4px;
  line-height: 22px;
  margin-bottom: 10px;
}

.footer__list-link:hover {
  text-decoration: underline;
}

.footer__icon {
  width: 25px;
  height: 25px;
  margin-right: 20px;
  cursor: pointer;
}

.footer__icon:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

@media screen and (min-width: 980px) {
  .fetures__row-title-box_reverse:after {
    left: 0;
  }

  .slick-arrow {
    top: 50%;
  }
}

@media screen and (max-width: 1600px) {
  .product-info_reverse {
    background: none !important;
  }
}

@media screen and (max-width: 1350px) {
  .product-info__title {
    font-size: 52px;
  }
}

@media screen and (max-width: 1150px) {
  .product-info__column2-img img {
    width: 100%;
    max-width: 649px;
    height: auto;
    min-width: 0;
  }
}

@media screen and (max-width: 1140px) {
  .slider01__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .slider01__img-box {
    margin-right: 0;
  }

  .slider01__text-box {
    margin-top: 25px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .slider01__weight-box {
    margin-left: 30px;
  }

  .slider01__age-box {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    padding-top: 10px;
  }
}

@media screen and (max-width: 980px) {
  .fetures__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .fetures__column {
    margin: 0 0 70px 0;
  }

  .fetures__column:last-child {
    margin: 0;
  }

  .fetures__row {
    margin-bottom: 20px;
  }

  .fetures__row-title-box {
    margin-bottom: 15px;
  }

  .fetures__row-text-box {
    text-align: center;
  }

  .fetures-column_img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .slider01__item {
    padding-bottom: 100px;
  }

  .slick-arrow {
    bottom: 20px;
  }

  .slick-arrow.slick-prev {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .slick-arrow.slick-next {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
}

@media screen and (max-width: 968px) {
  .structure {
    margin: 50px 0 50px 0;
  }
}

@media screen and (max-width: 965px) {
  .structure__body {
    max-height: 100%;
    padding: 30px 20px;
  }
}

@media screen and (max-width: 950px) {
  .header__logo:after {
    display: none;
  }
}

@media screen and (max-width: 890px) {
  .product-info {
    background: none !important;
  }
}

@media screen and (max-width: 875px) {
  .product-info__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 20px;
  }

  .product-info__column1-info {
    margin-bottom: 80px;
    min-width: 0;
  }
}

@media screen and (max-width: 805px) {
  .facts__tab-title {
    font-size: 18px;
  }

  .facts__tab-serving {
    font-size: 14px;
  }

  .facts__tab-box {
    margin-right: 30px;
  }
}

@media screen and (max-width: 768px) {
  .clients__title-box {
    padding: 20px 0;
  }
}

@media screen and (max-width: 710px) {
  .structure-column-img img {
    min-width: 0;
  }
}

@media screen and (max-width: 650px) {
  .header__body {
    height: 75px;
  }

  .header__menu {
    display: none;
  }

  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .product-info {
    margin-top: 75px;
  }
}

@media screen and (max-width: 600px) {
  .adaptive-menu {
    max-width: 100%;
  }
}

@media screen and (max-width: 590px) {
  .facts__tab-title {
    padding-right: 10px;
  }

  .facts__tab-serving {
    line-height: 16px;
  }
}

@media screen and (max-width: 560px) {
  .feedback-form__name {
    width: 100%;
  }

  .feedback-form__email {
    width: 100%;
  }
}

@media screen and (max-width: 535px) {
  .slider01__text-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 25px;
  }

  .slider01__weight-box {
    margin-bottom: 0;
  }

  .slider01__age-box {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 530px) {
  .facts__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .facts__tab-box {
    margin: 0 0 35px 0;
  }
}

@media screen and (max-width: 500px) {
  .structure__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .structure-column__info {
    margin-top: 35px;
  }

  .feedback__title-box {
    padding: 25px 15px;
  }

  .feedback__form {
    padding: 25px 15px;
  }
}

@media screen and (max-width: 465px) {
  .product-info__title {
    font-size: 40px;
    line-height: 45px;
    padding-left: 0;
  }

  .product-info__title:before {
    content: none;
  }

  .product-info__subtitle {
    padding-left: 0;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 450px) {
  .certifications__logo-img-box {
    margin-right: 5px;
  }

  .subscribe__title-box {
    padding: 20px 15px;
  }

  .subscribe__form {
    padding: 35px 15px;
  }
}

@media screen and (max-width: 440px) {
  .main-link-adaptive {
    display: block;
    text-align: center;
    line-height: 50px;
  }

  .product-info__text {
    margin-bottom: 25px;
  }

  .product-info__link_video {
    display: inline-block;
    margin-left: 10px;
    margin-top: 20px;
  }

  .product-info__link_video:after {
    top: 4px;
  }

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__list {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 430px) {
  .slider01__weight-box {
    font-size: 30px;
  }
}

@media screen and (max-width: 420px) {
  .structure__column {
    margin: 0 10px;
  }
}

@media screen and (max-width: 390px) {
  .subscribe__input {
    font-size: 14px;
  }
}

.webp .product-info{ background: #fff url(../img/productInfo/pi-bg.webp) right center no-repeat; }

.webp .product-info_reverse{ background: #fff url(../img/productInfo/pi-bg.webp) left center no-repeat; }